language: java
sudo: false
install: true
addons:
  sonarcloud:
    organization: "robert2411-github"
    token:
      secure: "sTNX1/yyMtmvwnjcOj9eIsqZKI0EBTEeJwBP2dnOTgOSmUcGpY4RJmjvJnrEbBSjDGOD4f3ghjXBFvcUQKbcBHLuHtIKjqIAtrMjG96X9AHdRY999XwW2umCMycE8KzDCSid3FwP0hcGOKRRea8yp9jfmd0zQ5TB2lpnAaQomfooXDoGBz6p8kcujCJE0Fe2fKhAG02Xkj+Gw8qPgnvtIDv67KZHfP+5Nvcw9NApmE6BnDwR7on6XfLDGc3xC2rCTuru534MOtyJAcgyN8fQBE/i/ezYw1gFEbOXEtSw3Ztzjfxp/AWURxyR9ULJ8Z829NABX+HhzkaRIbXMRa13HEqaZjWqWHbH5qfGyLAKFnIzLksdQjibveA+aSkwnBBQox+2PemBpGuZy9M8zS26qqgUhltiFA7Hz+6ptqxHtZp/aeWQyT99y7UR2rlNy1srJEXbLG+zw7JzEezRwzgAKmRvOMUToI9Ox6YOPci27G3h5IuSXziT1eoAuV9FAORVpFUh4xokgvE/mqWRMT20u8RFEZnq5TMsWAFm5Jw6ujsVlmk6c1LePu8036kNVT3HemRSu/Rfr13UaseCRRhlW7/c2pQCIFGuFmuYLQPFmIlru4JzBuEy/5Jz2jRBmftU4BOyeHWpeXGIt6FcNA1p7VcLPrhdmQZlcfebA32afdQ="
jdk:
  - oraclejdk8
script:
  - mvn clean cobertura:cobertura org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar -Dmaven.test.failure.ignore=true

after_success:
    - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
